<div class="pengaduan-container">
  <h2>Daftar Pengaduan</h2>
  <a href="/admin/pengaduan/tambah" style="display: inline-block; background-color: #007bff; color: white; padding: 8px 16px; border-radius: 4px; text-decoration: none; font-weight: bold; margin-bottom: 12px;">
    + Tambah
  </a>

  <table border="1" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th>No</th>
        <th>Judul</th>
        <th>Isi</th>
        <th>Jenis Laporan</th>
        <th>Instansi</th>
        <th>Tanggal</th>
        <th>Status</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% if (data.length === 0) { %>
        <tr>
          <td colspan="8" style="text-align: center;">Belum ada data</td>
        </tr>
      <% } else { %>
         <% data.forEach((d, i) => { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= d.judul %></td>
        <td style="max-width: 350px; word-wrap: break-word; white-space: normal;"><%= d.detail %></td>
        <td><%= d.jenis %></td>
        <td><%= d.instansi %></td>
        <td><%= d.tanggal_lapor.toLocaleString ? d.tanggal_lapor.toLocaleString() : d.tanggal_lapor %></td>
        <td><%= d.status %></td>
        <td>
          <% if (d.lampiran) { %>
            <a href="/uploads/<%= d.lampiran %" target="_blank">Lihat Lampiran</a>
          <% } else { %>
            Tidak ada
          <% } %>
        </td>
      </tr>
    <% }) %>
  <% } %>
    </tbody>
  </table>
</div>
